@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    background-color: #FFFFFF;
}

.font-p{
    font-family: "Parkinsans", sans-serif;
}

.font-o{
    font-family: "Outfit", sans-serif;
}

li .active{
    color: #3CA200;
    font-weight: 700;
}