@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    background-color: #FFF8F1;
    font-family: 'Poppins', sans-serif;
}


li .active{
    background-color: #E63946;
    color: white;
}